[Unit]
Description=NVIDIA fan min service
After=default.target

[Service]
ExecStart={{ nvidia_fan_min_path }}/nvidia-fan-min.sh
KillSignal=SIGINT

Environment="DISPLAY=:0"
Environment="XAUTHORITY=/var/run/lightdm/root/:0"

[Install]
WantedBy=default.target